
        <div class="main_slider" style="background-image:url(images/single_3.jpg);height:500px">



            <section class="text-center">


                <a href="~/index.html" class="btn btn-outline-warning"> <h5>Go to Fashion Shop</h5> </a>
            </section>

            <div class="text-center">
                <div>
                    <section>

                        <p>
                            <h4 style="background-color:bisque; color:brown">
                                Nguyễn Phạm Văn An -  Chế Văn Trường - Trần Minh Tuyền


                            </h4>
                        </p>

                    </section>

                </div>
            </div>

        </div>
